{% extends 'main.html' %}

{% block title %}
create-article
{% endblock %}

{% block body %}
<style>
    footer{
        top: 100px;
    }
</style>
<div class="container mt-5 body_div">
    <h1>Написать статью</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Ведите анонс"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите осовной текст"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
</div>
{% endblock %}

{% block nav_link %}
<li><a href="/home" class="nav-link px-2 text-white">Главная</a></li>
<li><a href="/about" class="nav-link px-2 text-white">Про нас</a></li>
<li><a href="/posts" class="nav-link px-2 text-white">Статьи</a></li>
<li><a href="/create-article" class="nav-link px-2 text-secondary">create-article</a></li>
{% endblock %}