body{
    background-size: 100%;
}

footer{
    float: bottom;
    position: relative;
    display: block;
    width: 100%;    
    overflow-x: hidden;
    overflow-y: hidden;
}

strong.PyModule{
    font-size: 30px;
    padding-right: 3%;
}

a.nav-link{
    font-size: 20px;
    margin-left: 15px;
}

main{
    height: 100%;
}

div.body_div{
    height: 600px;
}